:root {
  --body-color:#000;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: var(--body-color);
  overflow: hidden;

}
a {
   cursor: pointer;
   text-decoration: none;
}
.loading {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 9999;
   background-color: rgba(0, 0, 0, 255);

   height: 100vh !important;
   width: 100% !important;
   display: flex;
   justify-content: center;
   align-items: center;
}


.sk-cube-grid {
   width: 40px;
   height: 40px;
   margin: 100px auto;
 }
 
 .sk-cube-grid .sk-cube {
   width: 33%;
   height: 33%;
   background-color: rgb(8, 79, 114);
   float: left;
   -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
           animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
 }
 .sk-cube-grid .sk-cube1 {
   -webkit-animation-delay: 0.2s;
           animation-delay: 0.2s; }
 .sk-cube-grid .sk-cube2 {
   -webkit-animation-delay: 0.3s;
           animation-delay: 0.3s; }
 .sk-cube-grid .sk-cube3 {
   -webkit-animation-delay: 0.4s;
           animation-delay: 0.4s; }
 .sk-cube-grid .sk-cube4 {
   -webkit-animation-delay: 0.1s;
           animation-delay: 0.1s; }
 .sk-cube-grid .sk-cube5 {
   -webkit-animation-delay: 0.2s;
           animation-delay: 0.2s; }
 .sk-cube-grid .sk-cube6 {
   -webkit-animation-delay: 0.3s;
           animation-delay: 0.3s; }
 .sk-cube-grid .sk-cube7 {
   -webkit-animation-delay: 0s;
           animation-delay: 0s; }
 .sk-cube-grid .sk-cube8 {
   -webkit-animation-delay: 0.1s;
           animation-delay: 0.1s; }
 .sk-cube-grid .sk-cube9 {
   -webkit-animation-delay: 0.2s;
           animation-delay: 0.2s; }
 
 @-webkit-keyframes sk-cubeGridScaleDelay {
   0%, 70%, 100% {
     -webkit-transform: scale3D(1, 1, 1);
             transform: scale3D(1, 1, 1);
   } 35% {
     -webkit-transform: scale3D(0, 0, 1);
             transform: scale3D(0, 0, 1); 
   }
 }
 
 @keyframes sk-cubeGridScaleDelay {
   0%, 70%, 100% {
     -webkit-transform: scale3D(1, 1, 1);
             transform: scale3D(1, 1, 1);
   } 35% {
     -webkit-transform: scale3D(0, 0, 1);
             transform: scale3D(0, 0, 1);
   } 
 }






a:hover {
   color: cadetblue!important;
   transition: all 0.5s !important;
}
/* Side Menu */

.side-menu {
  width: 300px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
.inner-side-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.inner-side-menu li a {
   font-size: large;
}
.left-section {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.inner-left-bottom span {
   display: block;
   font-size: 1rem;
   color: #989898;
}
.inner-left-bottom a {
   padding: 0px 5px ;
   font-size: 15px;
   color: #989898;
}
.inner-left-bottom a:hover {
   color: cadetblue;
}
.right-section {
   width: 20%;
   height: 100vh;
   padding: 0;
   margin: 0;
 }
.logo-img {
   width: 40px;
   height: 40px;
   margin: 0px auto;;
}
.right-section {

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   padding: 30px 0px;
}
.links-right-section {
   flex-direction: column;
}
.right-section a , i{
   color:#22252a;
}
#closeSideMenu {
   cursor: pointer;
}







#search {
   width: 100% !important;
   height: 100% !important;
   display: flex;
   margin: 0px auto !important;
   color: #fff !important;
}



#categories {
   width: 100% !important;
   height: 100% !important;
   display: flex;
   margin: 0px !important;
   background-color: rgba(0, 0, 0, 0.358);
   color: #fff !important;
}


#meals {
   width: 100% !important;
   height: 100% !important;
   display: flex;
   margin: 0px !important;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff !important;
}

#homeMealView {
   width: 100% !important;
   height: 100% !important;
   display: flex;
   margin: 0px !important;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff !important;
}

#area {
   width: 100% !important;
   height: 100% !important;
   display: flex;
   margin: 0px !important;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff !important;
}

#area i .item{
   padding: 0px !important;
   margin: 0px !important;
}

#area i {
   width: 100% !important;
}
#areaFood {
   width: 100% !important;
   height: 100% !important;
   display: flex;
   margin: 0px !important;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff !important;
}


#ingredients {
      width: 100% !important;
   height: 100% !important;
   display: flex;
   margin: 0px !important;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff !important;
}
#ingredientsFood {
   width: 100% !important;
height: 100% !important;
display: flex;
margin: 0px !important;
background-color: rgba(0, 0, 0, 0.5);
color: #fff !important;
}









.name-invalid,.email-invalid,
 .phone-invalid
,.age-invalid,.password-invalid
,.repassword-invalid {
margin-top: 5px;
background-color: #f9d7da !important;
color: #823339 !important;
}
#contactUs input {
background: #000;
border: none;
padding: 0px 5px 0px 5px !important;
border-bottom:1px solid rgb(127, 123, 123);
color: gray;
}
#contactUs input:focus {
   outline:0px !important;
   box-shadow: none !important;

}

/* #contactUs h2 {
   bottom: 0; 
   right: 50%;
    transform: translate(50%,-50%);
} */



/* Main */

.item {
   padding: 15px;
}
/* Contact US */
#contactUs .row  {
   width: 80%;
   margin: 0px auto;
}
.search-name {
   background-color: #000;
}
.search-name input{
   width: 80% !important;
   border: 0px;
   border-bottom: 2px solid gray;
   background-color: transparent;
   text-align: center;
   font-size: 18px;
   margin: 30px 0px;
   line-height: 3rem;
   color: #f9d7d9;

}




.name,.email,.phone,.age,.pass,.re-pass {
   background-color: #000;
}
.name input ,.email input ,.phone input ,.age input ,.pass input ,.re-pass input {
   width: 80% !important;

   border: 0px;
   border-bottom: 2px solid gray;
   background-color: transparent;
   text-align: center;
   font-size: 18px;
   /* margin: 30px 0px; */
   line-height: 3rem;
   color: #f9d7d9;

}

.Valid{
   border: 1px solid rgb(0, 255, 106) !important;
}

.notValid{
   border: 1px solid red !important;
}



/* Search */
.search-name {
   background-color: #000;
}
.search-name input{
   width: 80% !important;

   border: 0px;
   border-bottom: 2px solid gray;
   background-color: transparent;
   text-align: center;
   font-size: 18px;
   margin: 30px 0px;
   line-height: 3rem;
   color: #f9d7d9;

}

.search-letter {
   background-color: #000;
}
.search-letter input{
   width: 80% !important;
   border: 0px;
   border-bottom: 2px solid gray;
   background-color: transparent;
   text-align: center;
   font-size: 18px;
   margin: 30px 0px;
   line-height: 3rem;
   color: #f9d7d9;
}
.search-name input:focus {
   outline:1px solid rgba(0, 17, 255,0.3);

}
.search-letter input:focus {
   outline:1px solid rgba(0, 17, 255,0.3);

}


.show {
   display: inline-block !important;
}
.hide {
   display: none !important;
}